@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk&display=swap');
body {
    font-family: 'Hanken Grotesk', sans-serif;
    background-color:#373840;
    margin: 0; 
    padding: 0; 
}
header {
    padding:18mm;
    border: 6px solid #a4cb62;
    font-size:450%;
    font-weight: bold;
    text-align:center; 
    background-color: #567836;
}
nav {
    text-align: center;
    border: 4px solid #606064;
    padding: 15mm;
    font-size: 5mm;
    font-family: 'Hanken Grotesk', sans-serif;
    background-color: #4F5054;
    color:#e8eaeb;
}
.parallax-wet-rocks {
  /* The image used */
  background-image: url('../Images/wet-rocks-background.jpg');

  /* Set a specific height */
  min-height: 800px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: -800px;
}
h1 {
    text-align: center;
    color:#e8eaeb;
}
h2 {
    text-align: left;
    padding-top: 50px;
    padding-left: 25%;
    padding-right: 25%;
    color:#e8eaeb;
}
h3 {
    text-align: center;
    padding-left: 25%;
    padding-right: 25%;
    color:#e8eaeb;
}
h4 {
    text-align: center;
    padding-left: 25%;
    padding-right: 25%;
    color:#e8eaeb;
}
p {
    text-align: left;
    padding-left: 25%;
    padding-right: 25%;
    color:#e8eaeb;
}
i {
    text-align: left;
    padding-left: 25%;
    padding-right: 25%;
    color:#e8eaeb;
}
ul {
    color:#e8eaeb;
}
a {
    color:#e8eaeb;
    text-decoration:none;
    padding: 5mm;
}
a:hover{
  color:#567836;
  background-color: #e8eaeb;
}
#home {
    text-decoration:none;
    color:#e8eaeb;
}
#home:hover {
  background-color: #567836;
  color: #e8eaeb
}
#pay-plan {
    text-decoration:none;
    padding: 5mm;
    margin-left:68px; 
    color:#e8eaeb;
    background-color: #567836;
}
#pay-plan:hover {
  color: #567836;
  background-color: #e8eaeb;
}
.container {
    margin: 20px auto;
    padding-left: 25%;
    padding-right: 25%;
    border: 1px solid #e8eaeb;
}
footer {
    background-color: #567836;
    color: #e8eaeb;
    padding: 8mm;
    font-size: 5mm;
    text-align: center;
    margin-top: 50px;
}
footer p{
    color:#e8eaeb;
    text-align: center;
  }
