@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk&display=swap');
body {
    font-family: 'Hanken Grotesk', sans-serif; 
    background-color:#e8eaeb;
    margin: 0; 
    padding: 0; 
}
header {
    padding:10mm;
    font-size:400%; 
    text-align:center; 
    background-color: #567836;
}
nav {
    text-align: center; 
    padding: 8mm;
    font-size: 5mm;
    font-family: 'Hanken Grotesk', sans-serif;
    background-color: #567836;
    color:#e8eaeb;
}
h1 {
    text-align: center;
    padding-left: 500px;
    padding-right: 500px;
    color:#373840;
}
h2 {
    text-align: left;
    padding-top: 50px;
    padding-left: 500px;
    padding-right: 500px;
    color:#373840;
}
p {
    text-align: left;
    padding-left: 500px;
    padding-right: 500px;
    color:#373840;
}
i {
    text-align: left;
    padding-left: 500px;
    padding-right: 500px;
    color:#373840;
}
a {
    color:#e8eaeb;
    text-decoration:none;
    padding: 5mm;
}
a[href="./index.html"] {
    text-decoration:none;
    color:#e8eaeb;
}
a:hover{
  color:#567836;
  background-color: #e8eaeb;
}
a:hover[href="./index.html"] {
  background-color: #567836;
  color: #e8eaeb
}
.container {
    
    margin: 20px auto;
    padding-left: 500px;
    padding-right: 500px;
    border: 1px solid #e8eaeb;
}
ul{
    padding-left: 550px;
    padding-right: 500px;
}
